.profile-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom : 30px;
}

.profile-content {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: rgba(255,255,255,0.7);
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    padding: 50px;
    width: fit-content;
    height: fit-content;
}

    .profile-content h3 {
        padding-bottom: 15px;
        padding-top: 15px;
    }

.img-container {
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding-right: 50px;
}

    .img-container img {
        border-radius: 9999px;
        border-color: rgb(0 0 0);
        border-style: solid;
        border-width: 2px;
        width: 150px;
        height: 150px;
        object-fit : cover;
    }

    .profile-info{
       
        padding-bottom : 60px; 
    }

    

    .flex{
        display : flex
    }

    .flex-col{
        display : flex;
        flex-direction : column;
    }

    .pad-x-20{
        padding-left : 20px;
        padding-right : 20px;
    }

    .justify-between{
        justify-content : space-between;
    }

.pad-l-50 {
    padding-left: 50px;
}

.pad-b-15{
    padding-bottom : 15px;
}

.align-item-center{
    align-items : center;
}

.username {
    border-style: solid;
    border-bottom-width: 2px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    
}

.border-b {
    border-style: solid;
    border-bottom-width: 2px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

    .username button {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 14px;
        padding-right: 14px;
        font-size: 1rem; /* 20px */
        line-height: 1rem; /* 28px */
        background: none;
       
        border-radius : 0.5rem;
        cursor: pointer;
    }

    .username button:hover {
        
        background-color: lightslategray;
        
    }

    .username button i  {
        
        
        padding-left : 6px;
        
    }

.pad-t-15 {
    padding-top: 15px;
}

.pad-r-15 {
    padding-right: 30px;
}

.pad-l-90 {
    padding-left: 90px;
}

.pad-b-15 {
    padding-bottom: 50px;
}

.pad-b-5 {
    padding-bottom: 15px;
}

.w-100 {
    width: 100vh;
}

.border-b-2 {
    border-style: solid;
    border-bottom-width: 2px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.profile-myevent-container button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */

}

.profile-myevent-container {
    display : block;
}

.profile-myevent-selector {
    padding-bottom: 10px;
    border-style: solid;
    border-bottom-width: 2px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.userevent-container {
    position: fixed;
    right: 0;
    height: 100vh;
    background-color: rgba(148, 163, 184, 0.3);
    width: 60vh;
    top: 12%;
}

.userevent-content {
    padding-left: 50px;
    padding-top: 30px;
    border-bottom-width: 4px;
    border-color: black;
}

    .userevent-content h1 {
        color: white;
        padding-bottom: 15px;
    }

.userevent-card {
    width: 330px;
    height: fit-content;
    border-radius: 0.75rem; /* 12px */
    background-color: white;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    transition: 0.5s;
    
}

    .userevent-card:hover {
        transform: scale(1.02)
    }

.userevent-card-subject {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content : space-between;
    margin-right : 20px;
}

    

    .userevent-card-subject i {
        cursor: pointer;
    }

.userevent-card-detail {
    padding-left: 20px;
    border-top-width: 2px;
    border-color: rgb(0 0 0);
}

.detail-content {
    display: flex;
    align-items: center;
    padding-bottom : 15px;
}

.detail-content i{
    padding-right : 5px;
}

.profile-myevent-content {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap : 15px;
    padding-top:30px;
}

.color-gray{
    color : dimgrey;
}

#joineventcard{
    display : none;
}

a {
    text-decoration : none;
    color : black;
}

.quit-button button {
    border-radius: 9999px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 1rem; /* 20px */
    line-height: 1rem; /* 28px */
    background-color: rgb(239 68 68);
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
}

.event-closed button {
    border-radius: 9999px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 1rem; /* 20px */
    line-height: 1rem; /* 28px */
    background-color: rgb(168 162 158);
    color: white;
    border: none;
    
    margin-bottom: 15px;
}

.items-center{
    align-items : center;
}

.flex{
    display : flex;
}

.gap-4{
    gap : 4px;
}

input {
    
    padding: 8px;
    border-radius: 2rem;
    border: 1px solid #C4C4C4;
}

.edit-img-container {
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    position : relative;
}

.edit-img-container img {
    border-radius: 9999px;
    border-color: rgb(0 0 0);
    border-style: solid;
    border-width: 2px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.edit-img-button {
    position: absolute;
    top: -10%;
    right: 15%;
    border-radius: 2rem;
    padding: 4px;
    padding-left: 5px;
    padding-right: 5px;
    cursor : pointer;
    border : none;
    background : none;
}

.img-form {
    display : none;
}

.img-form input {
    position: absolute;
    left: -5%;
    bottom: -30%;
    transition: 1s;
    transition-duration: 700ms;
    
}

input {
    transition: 1s;
    transition-duration: 700ms;
}

    .img-form button {
        position: absolute;
        left: 19%;
        bottom: -55%;
        border-radius: 9999px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 14px;
        padding-right: 14px;
        font-size: 1rem; /* 20px */
        line-height: 1rem; /* 28px */
        background-color: rgb(74 222 128);
        color: white;
        border: none;
        cursor: pointer;
    }

        .img-form button:hover {
            background-color: lightslategray;
        }

.detail-submit {
    border-radius: 9999px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 1rem; /* 20px */
    line-height: 1rem; /* 28px */
    background-color: rgb(74 222 128);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

    .detail-submit:hover {
        background-color: lightslategray;
    }

.password-submit {
    border-radius: 9999px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 1rem; /* 20px */
    line-height: 1rem; /* 28px */
    background-color: rgb(74 222 128);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

    .password-submit:hover {
        background-color: lightslategray;
    }

    .detail-input input{
        padding-right : 100px;
    }

.profile-detail {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

@media screen and (max-width:768px) {
    .profile-content{
        width : 100vh;
    }

    .profile-detail{
        flex-direction : column;
        justify-content : center;
    }

    #expireTime{
        display : none;
    }

    #location{
        display : none;
    }

    .userevent-card {
        width: 210px;
    }

    .img-container{
        padding-right : 0px;
    }

    .edit-img-container{
        padding-right : 0px;
    }

    .edit-img-button{
        right : -20%;
    }

    .img-form input{
        left : 120%;
        bottom : 50%;
    }

    .img-form button {
        left: 150%;
        bottom: 20%;
    }

    .img-form label {
        position: absolute;
        width: 120%;
        left: 122%;
        bottom: 80%;
    }
}