@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model WebApplicationProject.ViewModel.CreateEventViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Event</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Category" class="control-label"></label>
        <select asp-for="Category" class="form-control">
            <option value="Aerobic">Aerobic</option>
            <option value="Badminton">Badminton</option>
            <option value="Basketball">Basketball</option>
            <option value="Bicycle">Bicycle</option>
            <option value="Football">Football</option>
            <option value="Futsal">Futsal</option>
            <option value="Skateboard">Skateboard</option>
            <option value="Swimming">Swimming</option>
            <option value="Volleyball">Volleyball</option>
            <option value="Other">Other</option>
        </select>
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ActivityTime" class="control-label"></label>
        <input asp-for="ActivityTime" class="form-control" />
        <span asp-validation-for="ActivityTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ExpireTime" class="control-label"></label>
        <input asp-for="ExpireTime" class="form-control" />
        <span asp-validation-for="ExpireTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Location" class="control-label"></label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Detail" class="control-label"></label>
        <input asp-for="Detail" class="form-control" />
        <span asp-validation-for="Detail" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Contact" class="control-label"></label>
        <input asp-for="Contact" class="form-control" />
        <span asp-validation-for="Contact" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Capacity" class="control-label"></label>
        <input asp-for="Capacity" class="form-control" />
        <span asp-validation-for="Capacity" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

