@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model WebApplicationProject.ViewModel.EditEventViewModel

<form asp-action="Edit" method="post">
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="ActivityTime" class="control-label"></label>
        <input asp-for="ActivityTime" class="form-control" />
        <span asp-validation-for="ActivityTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ExpireTime" class="control-label"></label>
        <input asp-for="ExpireTime" class="form-control" />
        <span asp-validation-for="ExpireTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Location" class="control-label"></label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Detail" class="control-label"></label>
        <input asp-for="Detail" class="form-control" />
        <span asp-validation-for="Detail" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Contact" class="control-label"></label>
        <input asp-for="Contact" class="form-control" />
        <span asp-validation-for="Contact" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Capacity" class="control-label"></label>
        <input asp-for="Capacity" class="form-control" />
        <span asp-validation-for="Capacity" class="text-danger"></span>
    </div>

    <div class="checkbox">
        <label asp-for="IsOpen" class="control-label"></label>
        <input asp-for="IsOpen" class="checkbox" type="checkbox" />
        <span asp-validation-for="IsOpen" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Edit</button>
</form>

<form asp-action="Close" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit" class="btn btn-primary">Close</button>
</form>

<form asp-action="Delete" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit" class="btn btn-primary">Delete</button>
</form>