@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    
}
<link rel="stylesheet" href="~/css/Changepassword.css" asp-append-version="true" />


<div class="changepassword-container">
    <div class="changepassword-content">
        <div class="changepassword-header">
            <a asp-controller="User" asp-action="Edit">
                <i class="fa-solid fa-circle-arrow-left"></i>
            </a>
            
            <h1>Change Password</h1>
        </div>
       
        <form id="change-password-form" class="form-container" method="post">
            <div asp-validation-summary="ModelOnly" class="" role="alert"></div>
            <div class="changepassword-detail">
                <label asp-for="Input.OldPassword" class=""></label>
                <div class="input-danger">
                    <span asp-validation-for="Input.OldPassword" class=""></span>
                    <input asp-for="Input.OldPassword" class="" autocomplete="current-password" aria-required="true" />
                    
                </div>
                
                
            </div>
            <div class="changepassword-detail">
                <label asp-for="Input.NewPassword" class=""></label>
                
                <div class="input-danger">
                    <span asp-validation-for="Input.NewPassword" class=""></span>
                    <input asp-for="Input.NewPassword" class="" autocomplete="new-password" aria-required="true" />
                </div>
                
            </div>
            <div class="changepassword-detail">
                <label asp-for="Input.ConfirmPassword" class=""></label>
                <div class="input-danger">
                    <span asp-validation-for="Input.ConfirmPassword" class=""></span>
                    <input asp-for="Input.ConfirmPassword" class="" autocomplete="new-password" aria-required="true" />
                </div>
               
                
                
            </div>
            <button type="submit" class="password-submit">Update password</button>
        </form>
    </div>
</div>


