@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    
}



<div class="changepassword-container">
    <div class="">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="" role="alert"></div>
            <div class="">
                <input asp-for="Input.OldPassword" class="" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                <label asp-for="Input.OldPassword" class=""></label>
                <span asp-validation-for="Input.OldPassword" class=""></span>
            </div>
            <div class="">
                <input asp-for="Input.NewPassword" class="" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                <label asp-for="Input.NewPassword" class=""></label>
                <span asp-validation-for="Input.NewPassword" class=""></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password."/>
                <label asp-for="Input.ConfirmPassword" class=""></label>
                <span asp-validation-for="Input.ConfirmPassword" class=""></span>
            </div>
            <button type="submit" class="">Update password</button>
        </form>
    </div>
</div>


