<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplicationProject</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
    <link rel ="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav>
            <div class="navbar">
                <div class="logo">
                    <a asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="Logo"> BESTON </a>
                </div>
                <ul class="links">
                    <li><a asp-controller="Event" asp-action="Index">Event</a></li>
                    <li>
                        <a href="category">Category</a>
                        <ul class="dropdown">
                            <li><a href="/event/category/Aerobic">Aerobic</a></li>
                            <li><a href="/event/category/Badminton">Badminton</a></li>
                            <li><a href="/event/category/Basketball">Basketball</a></li>
                            <li><a href="/event/category/Bicycle">Bicycle</a></li>
                            <li><a href="/event/category/Football">Football</a></li>
                            <li><a href="/event/category/Futsal">Futsal</a></li>
                            <li><a href="/event/category/Skateboard">Skateboard</a></li>
                            <li><a href="/event/category/Swimming">Swimming</a></li>
                            <li><a href="/event/category/Volleyball">Volleyball</a></li>
                            <li><a href="/event/category/Other">Other</a></li>
                        </ul>
                    </li>
                    <li><a href="about_us">About Us</a></li>
                    <partial name="_LoginPartial.cshtml" />
                </ul>
                <div class=toggle_btn>
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>

            <div class="dropdown_menu open">
                <li><a href="event">Event</a></li>
                <li>
                    <a href="category">Category</a>
                    <ul class="dropdown">
                        <li><a href="/event/category/Aerobic">Aerobic</a></li>
                        <li><a href="/event/category/Badminton">Badminton</a></li>
                        <li><a href="/event/category/Basketball">Basketball</a></li>
                        <li><a href="/event/category/Bicycle">Bicycle</a></li>
                        <li><a href="/event/category/Football">Football</a></li>
                        <li><a href="/event/category/Futsal">Futsal</a></li>
                        <li><a href="/event/category/Skateboard">Skateboard</a></li>
                        <li><a href="/event/category/Swimming">Swimming</a></li>
                        <li><a href="/event/category/Volleyball">Volleyball</a></li>
                        <li><a href="/event/category/Other">Other</a></li>
                    </ul>
                </li>
                <li><a asp-controller="Home" asp-action="Index">About Us</a></li>\
                <li><a href="#" class="action-btn">Get Started</a></li>
            </div>
            
        </nav>

    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script>
        

        const toggleBtn = document.querySelector('.toggle_btn')
        const toggleBtnIcon = document.querySelector('.toggle_btn i')
        const dropDownMenu = document.querySelector('.dropdown_menu')
        let isOpen = false

        toggleBtn.onclick = function () {
            isOpen = !isOpen
            isOpen == true
                ? dropDownMenu.style.display = "block"
                : dropDownMenu.style.display = "none"


            toggleBtnIcon.classList = isOpen
                ? 'fa-solid fa-xmark'
                : 'fa-solid fa-bars'
        };
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
