<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplicationProject</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
    <link rel ="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav>
            <div class="navbar">
                <div class="logo">
                    <a asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="Logo"> BESTON </a>
                </div>
                <ul class="links">
                    <li><a href="event">Event</a></li>
                    <li>
                        <a href="category">Category</a>
                        <ul class="dropdown">
                            <li><a href="#">Aerobic</a></li>
                            <li><a href="#">Badminton</a></li>
                            <li><a href="#">Basketball</a></li>
                            <li><a href="#">Bicycle</a></li>
                            <li><a href="#">Football</a></li>
                            <li><a href="#">Futsal</a></li>
                            <li><a href="#">Skateboard</a></li>
                            <li><a href="#">Swimming</a></li>
                            <li><a href="#">Volleyball</a></li>
                            <li><a href="#">Other</a></li>
                        </ul>
                    </li>
                    <li><a href="about_us">About Us</a></li>
                    <partial name="_LoginPartial.cshtml" />
                </ul>
                <div class=toggle_btn>
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>

            <div class="dropdown_menu open">
                <li><a href="event">Event</a></li>
                <li>
                    <a href="category">Category</a>
                    <ul class="dropdown">
                        <li><a href="#">Aerobic</a></li>
                        <li><a href="#">Badminton</a></li>
                        <li><a href="#">Basketball</a></li>
                        <li><a href="#">Bicycle</a></li>
                        <li><a href="#">Football</a></li>
                        <li><a href="#">Futsal</a></li>
                        <li><a href="#">Skateboard</a></li>
                        <li><a href="#">Swimming</a></li>
                        <li><a href="#">Volleyball</a></li>
                        <li><a href="#">Other</a></li>
                    </ul>
                </li>
                <li><a href="about_us">About Us</a></li>
                <li><a href="#" class="action-btn">Get Started</a></li>
            </div>
            
        </nav>

    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script>
        $(document).ready(function () {
            // Handle navigation links click event
            $("nav ul li .aj").click(function (e) {
                e.preventDefault(); // Prevent default link behavior

                var linkId = $(this).attr('id'); // Get the ID of the clicked link

                // Load content based on the clicked link
                switch (linkId) {
                    case 'event-link':
                        loadNavigationBar('/Event/Index', 'page_event');
                        break;
                    case 'category-link':
                        loadNavigationBar('/Category/Index', 'page_category');
                        break;
                    case 'aboutus-link':
                        loadNavigationBar('/Home/Index', 'sub_aboutus');
                        break;
                    // Add more cases for other links as needed
                }
            });

            // Function to load navigation bar
            function loadNavigationBar(url, linkType) {
                $.ajax({
                    url: url,
                    type: "GET",
                    success: function (result) {
                        if (linkType.substring(0, 3) === 'sub') {
                            $("body").html(result);
                            var targetId = linkType.substring(4);
                            $('html, body').animate({
                                scrollTop: $('#' + targetId).offset().top
                            }, 10);
                        } else {
                            $("body").html(result);
                        }
                        
                    },

                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            }
        });

        const toggleBtn = document.querySelector('.toggle_btn')
        const toggleBtnIcon = document.querySelector('.toggle_btn i')
        const dropDownMenu = document.querySelector('.dropdown_menu')
        let isOpen = false

        toggleBtn.onclick = function () {
            isOpen = !isOpen
            isOpen == true
                ? dropDownMenu.style.display = "block"
                : dropDownMenu.style.display = "none"


            toggleBtnIcon.classList = isOpen
                ? 'fa-solid fa-xmark'
                : 'fa-solid fa-bars'
        };
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
