@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
<link href="~/font-awesome/css/all.css" rel="stylesheet" />

<div class="box">
    <div class="almarai-bold back-page">
        <i class="fa-solid fa-chevron-left fa-2xl"></i>
        <p><a asp-action="index" asp-controller="Home">BACK</a></p>
    </div>
    <div class="login-container">
        <div class="text-container">
            <header class="almarai-bold">
                <h1>Welcome Back</h1>
                <h2>Enter your email and password to access your account</h2>
                <form id="account" method="post" class="content">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div id="box-content1">
                        <label asp-for="Input.Email">Email</label><br />
                        <input asp-for="Input.Email" autocomplete="username" aria-required="true" type="text" placeholder="username" class="text-box" required /><br />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div id="box-content2">
                        <label asp-for="Input.Password">Password</label><br />
                        <i class="fa-solid fa-eye" id="eye-icon" onmouseover="showPassword()" onmouseout="hidePassword()"></i>
                        <input asp-for="Input.Password" type="password" autocomplete="current-password" aria-required="true" placeholder="password" class="text-box" id="input-password" required /><br />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div>
                    <label asp-for="Input.RememberMe" class="form-label">
                            <input class="almarai-bold form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                    </div>          
                    <button type="submit" id="login-submit" name="signin" value="Sign In">Sign In</button>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="almarai-regular link-register">Register as a new user</a>
                    </p>
                </form>
            </header>
        </div>
        <div class="inside-box">
        </div>
    </div>
</div>


    <script>
        function showPassword() {
            let x = document.getElementById("input-password");
            console.dir(x);
            x.type = "text";
        }
        function hidePassword() {
            let x = document.getElementById("input-password");
            x.type = "password";
        }
    </script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
