@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model WebApplicationProject.ViewModel.ChangePasswordViewModel

<form method="post" asp-action="ChangePassword">
    <input asp-for="OldPassword" />
    <input asp-for="NewPassword" />
    <button type="submit">submit</button>
</form>
